# fcitx5
.config/.config/fcitx5/profile
.config/.config/fcitx5/cached_layouts

# mpv
**/mpv/saved-props.json

# mimeapps
.local/share/applications/mimeapps.list
.config/.config/mimeapps.list

# matlab
.local/.local/share/applications/mw-matlab.desktop
.local/.local/share/applications/mw-matlabconnector.desktop
.local/.local/share/applications/mw-simulink.desktop

# runit
**/supervise/

# unimportant files
**/*.cache
**/*.dir
**/*.scale
**/*.pid
**/*.state
**/*.log
**/*.db
**/*.sqlite
**/*.o
.runit/.runit/sv/fusuma
