# shell
.config/.config/shell/gpu
.config/.config/shell/hidpi

# zsh
.config/.config/zsh/.zcompdump

# rofil
.config/.config/rofi/config.rasi

# mpd
.config/.config/mpd/mpd.state
.config/.config/mpd/mpd.pid

# mpv
**/watch_later/

# runit
**/supervise/

# unimportant files
**/*.log
**/*.db
**/*.o
