configuration {
    	display-drun: "Applications:";
        display-window: "Windows:";
        drun-display-format: "{name}";
	font: "MonoLisa 18";
	location: 0;
	yoffset: -150;
	matching: "fuzzy";
	sort: true;
        modi: "window,run,drun";
        show-icons: true;
        icon-theme: "Papirus";
}

@import "~/.config/rofi/themes/gruvbox-dark.rasi"


listview {
	scrollbar: false;
	lines: 10;
	border: false;
}

element {
	padding: 6px;
}


