# More Vim like movements
move_left               l
move_right              h
screen_down             d
screen_up               u
fit_to_page_width       a
fit_to_page_width_smart s
open_document_embedded  o
copy                    y
close_window            q
toggle_custom_color     i
reload                  r
rotate_clockwise        R
zoom_in                 K
zoom_out                J

next_chapter        g[
prev_chapter        g]

# Misc
toggle_presentation_mode <A-p>

# Highlight 
add_highlight        ch
delete_highlight	 xh
goto_highlight		 gh
goto_next_highlight  gnh
goto_prev_highlight  gsh

# bookmark
add_bookmark        b
delete_bookmark     xb
goto_bookmark       gb

prev_state          H
next_state          L

# Custom commands
_rbookmark B
_sync_file <C-a>
_cite_bib <C-b>
_cite_info <C-i>
_cite_lf <C-l>
_chatpaper <C-s>
_cite_html <C-h>
_cite_ref <C-r>
_cite_copykey <C-k>
_cite_copybib <C-c>
_link_booklink <C-y>
_r_note <C-n>
_pdftools <C-x>
_pdfbrowser <C-w>
_zathura <C-o>
_zotadd <C-z>
