# More Vim like movements
move_left               l
move_right              h
screen_down             d
screen_up               u
fit_to_page_width       a
fit_to_page_width_smart s
open_document_embedded  o
copy                    y
quit		            q
toggle_dark_mode        i
reload                  r
rotate_clockwise        <S-r>
zoom_in                 <S-k>
zoom_out                <S-j>
open_prev_doc           <C-o>

# Misc
toggle_presentation_mode <A-p>

# Override some keys
add_highlight           <C-h>
prev_state          <S-h>
next_state          <S-l>
goto_highlight		gh
delete_highlight	dh
add_bookmark        b
delete_bookmark     db
goto_bookmark       gb

# copy selected text
# Open bookmarks menu of the current document.
# Custom commands
execute_command_c <A-c>
execute_command_z <A-z>
execute_command_f <A-f>
execute_command_v v
execute_command_n <S-v>
