# More Vim like movements
move_left               l
move_right              h
screen_down             d
screen_up               u
fit_to_page_width       a
fit_to_page_width_smart s
open_document_embedded  o
copy                    y
close_window            q
toggle_custom_color     i
reload                  r
rotate_clockwise        <S-r>
zoom_in                 <S-k>
zoom_out                <S-j>

# Misc
toggle_presentation_mode <A-p>

# Override some keys
add_highlight           <C-h>
prev_state          <S-h>
next_state          <S-l>
goto_highlight		gh
delete_highlight	xh
add_bookmark        b
delete_bookmark     xb
goto_bookmark       gb

# Custom commands
execute_command_a <C-a>
execute_command_e <C-e>
execute_command_c <C-c>
execute_command_l <C-l>
execute_command_v <C-v>
#execute_command_b <c-b>
execute_command_x <C-x>
execute_command_w <C-w>
execute_command_o <C-o>
execute_command_z <C-z>
