[Desktop Entry]
Type=Application
Name=MATLAB Connector
Exec=/home/miuka/.MathWorks/ServiceHost/lab/v2024.5.0.3/bin/glnxa64/OpenMathWorksDesktopApp %u
StartupNotify=false
MimeType=x-scheme-handler/mw-matlabconnector;